body {
  margin: 0;
  font-family: Arial;
  background: #0a4cff;
  color: white;
  text-align: center;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin: 6px;
}

#clickBtn {
  background: #00aaff;
  font-size: 22px;
}

#shop {
  background: rgba(0,0,0,0.3);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.hidden {
  display: none;
}
